ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.wrapper {
    text-align: center;
}

.loginHeading {
    margin-top: 6em;
}

.loginButton {
    margin-top: 2em;
}

.loginText {
    margin-top: 1em;
}

.button {
    padding: 4px 15px;
    font-size: 12px;
}

.active {
    background-color: #4CAF50;
}

.msg-body {
    margin: 1em 25%;
}

.msg-poster {
    margin: 1em 25%;
}

.msg-inner {
    border: 2px solid Blue;
}

.msg-button {
    float: right;
    margin-top: 2em;
}

@media(max-width: 900px) {
    .msg-poster {
        margin: 1em;
    }

    .msg-body {
        margin: 1em;
    }
}